<%- include("../partials/layout-start", { title }) %>
<%- include("../partials/menu") %>

<div class="container">
    <h1 class="mt-3"><%= title %></h1>

    <div class="row">
        <div class="col-sm-8">
            <%- include("form", {book}) %>
        </div>
    </div>
</div>

<%- include("../partials/layout-end") %>